@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
body  {
    font-family: "Roboto";
    background: url("../img/background 1.png");
    background-size: cover;
    width: 1366px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.container {
    width: 1036px;
    margin: 50px auto;
}
.header {
    display: flex;
}
.logo-item {
    display: flex;
}
.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;

}

.logo-text-small {
    font-size: 18px;
    margin-top: 2.5px;
    }

.logo {
    background-image: url("../img/logo 3.svg");
    width: 53px;
    height: 47px;

}

.logo-item:hover .logo {
    background-image: url("../img/logo 2.png");
}
.logo-item:hover .logo-text {
    color: #F26522;
}
.contacts {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts a:hover {
    color: #F26522;
}
.container-main {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;

}
.tour-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tour-name {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
}
.tour-info {
    position: relative;
    overflow: hidden;

}
.tour-name-hover {
    position: absolute;
    width: 100%;
    height: 60px;
    transition: bottom 500ms ease-out;
    bottom: -100%;
}
.tour-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 18px 17px 21px;
    background-color: #f26522;

}
.from {
    font-size: 10px;
    margin-bottom: 8px;
}

.euro {
    font-size: 20px;
}

.view-details {
    font-size: 14px;
}

.view-details::after {
    content: "\203A";
    width: 7px;
    height: 10px;
    margin-left: 15px;
}
.tour-item:hover .tour-name-hover {
    bottom: 0;
}
.tour-item:hover .tour-name {
    color: #f26522;
}
.copyright-info {
    font-size: 12px;
    text-align: center;
    color: white;
}
