*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans"
}
.header-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: #313131;

}

.logo-text {
    display: flex;
    align-self: center;
    margin-left: 29px;
}
.text-in-logo a {
    margin-left: 29px;
    color: #FFFFFF;
    font-size: 22px;
    font-style: normal;
    text-decoration: none;
}

.menu {
    align-self: center;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    text-align: center;
}
.menu li {
    display: inline-block;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 35px;
    text-transform: uppercase;
}
.menu a:hover {
    color: #14B9D5;
}
.search {
    background: #000000;
    width: 68px;
    height: 70px;
    border: 0;

}
.search :hover {
    cursor: pointer;
}

.header-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 369px;
    background: url("../img/header-background.png");
    background-size: cover;

}

.header-title {
    font-size: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}
.button {
    display: flex;
    margin-top: 44px;
      }
.button :hover {
    cursor: pointer;
}
.green {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    border: 0;
    width: 170px;
    height: 55px;
    background: #89CA62;
    border-radius: 3px;
    margin-right: 20px;

}
.blue {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    border: 0;
    width: 170px;
    height: 55px;
    background: #14B9D5;
    border-radius: 3px;
}
.posts-header {
    font-size: 27px;
    color: #18B4CF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding:50px 0px;

}
.post-content {
    background: #F2F2F2;
}
.post-container {
    width: 1170px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.post-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    margin-bottom: 32px;
    margin-right: 30px;
}
.post-container div p {
    padding: 20px 15px;
    font-size: 18px;
    text-align: center;
}
.our-clients-container {
    background: url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;

}
.our-clients {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 58px;
    align-items: center;
    justify-content: center;
}
.our-clients h1 {
    grid-column: span 4;
    color: white;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 108px;
    padding-bottom: 87px;
}
.our-clients .shape {
    grid-column: span 4;
    text-align: center;
    margin-bottom: 106px;

}
.our-clients>div {
    margin-bottom: 192px;
}

.top-rated-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.top-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}
.top-rated div img {
    width: 100%;
}
.top-rated-container h1 {
    grid-column: span 7;
    color: #18B4CF;
    justify-content: center;
    font-size: 27px;
    text-transform: uppercase;
    margin: 50px 0px;
    font-weight: bold;
}


.hot-news-container {

    display: flex;
    flex-direction: column;
    align-items: center;

}
.hot-news-container h1 {
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    margin: 50px 0px;
    font-weight: bold;
}
.hot-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1100px;

}
.hot-news>div {
    display: flex;
    flex-direction: column;
    }
.hot-news>div>img {
    width: 100%;
}
.hot-news>div>div {
    display: flex;
    flex-direction: column;
    background: #F9F7F7;
    flex: 1;

}
.hot-news>div.prof-hotel {
    grid-column: span 3;
    display: flex;
    flex-direction: row;

}
.hot-news>div.prof-hotel>div {

    flex:initial;
}

.span-2 {
    grid-column: span 2;
}
.hot-news-h2 {
    text-align: end;
    font-size: 18px;
    margin-bottom: 15px;
    padding-right: 25px;
    padding-top: 14px;


}
.hot-news-h2-small {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;



}
.hot-news-p {
    font-size: 14px;
    color: #5B6469;
    text-align: end;

}
.footer {
    margin-top: 77px;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-evenly;
}
.copyright-info {
    color: #FFFFFF;
    font-size: 13px;
    padding: 30px;
}
.footer-logo {
    display: flex;
    align-items: center;

}