.container {
    width: 100%;
    margin:0 auto;
    max-width: 1280px;
    font-family: Montserrat;

}

.menu {
    text-align: center;
    margin-bottom: 31px;
    margin-top: 31px;
}
.menu li {
    display: inline;
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding: 20px;
    }
.menu li a {
    color: #FF0000;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
}
.image {
    width: 1280px;
    }
.h-two {
    text-align: center;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 38px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3.3px;
}
.p-style {
    text-align: center;
    margin-bottom: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.button {
    background: #FF0000;
    border-radius: 4px;
    border: 0;
    padding: 18px 42px;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    }
.div-align {
    text-align: center;
    margin-bottom: 82px;
    margin-top: 66px;
}
.footer {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2.4px;
    margin-right: 105px;
    margin-bottom: 29px;
}