.order-form {
  max-width: 950px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  color: #008CBA;


  &__header {
    margin: 0 auto;
    max-width: 650px;
    font-size: 20px;
    color: #008CBA;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
  }
}
.btn-checkout {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}
