@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
    width: 1283px;
    margin: 0 auto;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.logo {
    display: inline-block;
    font-size: 80px;
    color: #4bcaff;
    margin-bottom: 40px;
    text-decoration: none;
}
.logo-letter {
    color: black;
}
.header-menu {
    width: 100%;
    display: inline-block;
    font-size:24px;
    font-style: normal;
    text-align: center;
    margin-bottom: 48px;
    background: #35444F;
}
.header-menu li {
    display: inline-block;
    border-right: 1px solid white;

}
.header-menu a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 26px 38px 19px;
    }

.header-menu li:first-child {
    border-left: 1px solid white;
}
.header-menu a:hover {
    display: inline-block;
    background-color: #222F3A;
}

.content {
    display: flex;
    align-items: flex-start;
}

.aside-menu {
    width: 344px;
   border: 1px solid grey;
    font-size: 27px;

}
.aside-menu a {
    display: block;
    text-decoration: none;
    color: #495863;
    padding: 26px 44px;
}
.aside-menu a:hover {
    background-color: #DBDBDB;
    text-align: center;
}
.article {
    width: 885px;
    margin-left: 52px;
}
.picture-back {
    height: 529px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;

}
.image {
    display: inline-block;
    width: 320px;
    height: 381px;
}
.picture-back:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.text-info {
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;

}
.paragraph {

    margin-bottom: 34px;
    color: #2C2C2C;

}
.footer {
    background: #63696E7A;
    width: 100%;
    display: flex;
    margin-bottom: 30px;

}
.footer-menu {
    font-size: 28px;
    font-style: normal;
    text-align: center;

}
.footer-menu ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;

}

.footer-menu a {
    display: inline-block;
    text-decoration: none;
    color: #495863;
    padding: 21px;

}
.footer-menu a:hover {
    text-decoration: underline 1px solid #3181a6;
    text-underline-position: under;
    color: #3181A6;
}
.copyright-info {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #010101;
    padding: 21px;
}