@mixin text-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

@mixin navbar-menu-items {
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
}

@mixin post-picture-size($width, $height) {
  width: $width;
  height: $height;
}

@mixin sized-img($size) {
  width: $size;
  height: $size;
}
