@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: "Ubuntu";
    background-image: url("../img/background.jpg");
    background-size: cover;
    width: 100%;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.navigation {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}
.logo {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 18px;
    margin-left: 80px;
}
.nav-bar {
    display: flex;
    margin-left: auto;
    padding: 18px;
}
.nav-bar svg {
    margin-right: 25px;
}
.login {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 25px;
    border-left: 1px solid rgba(255,255,255,0.4);
}
.navigation a:hover {
    color: #236D47;
    transition: 200ms linear;
}
.nav-bar>svg:hover path {
    fill: #236D47;
    cursor: pointer;
    transition: 200ms linear;
}

.container {
    max-width: 450px;
    font-size: 14px;
    margin: 55px auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.authorization > a {
    color: #3CB878;
}
.authorization {
    width: 330px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding-top: 35px;

}
.sign-up {
    font-size: 20px;
}
.sign-up::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;
}
.btn {
    color: white;
    font-size: 16px;
    width: 160px;
    padding: 15px;
    border-radius: 5px;
}

.btn i {
    padding-right: 15px;
    border-right: 1px solid rgba(10,22,47,0.1);
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
}
.auth-btn {
    display: flex;
    margin-top: 15px;
}
.btn-facebook {
    background: #305DB8;
    margin-right: 10px;
}
.btn-google {
    background: #DF4A32;
}
.authorization>a:hover {
    color: #01813F;
    text-decoration: underline;
}
.btn-facebook:hover {
    background: #022263;
    transform: scale(1.1);
    transition: 300ms ease-out;
}
.btn-google:hover {
    background: #AB1F09;
    transform: scale(1.1);
    transition: 300ms ease-out;
}
.choose {
    margin-top: 30px;
    display: flex;
}
.choose img {
    align-self: center;
    margin: 5px;
}
.reg-form {
display: flex;
    flex-direction: column;
}
.reg-form>input {
    padding: 15px;
    width: 330px;
    margin: 5px auto;
    outline: 0;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    transition: 200ms linear;
    color: #434343;
    cursor: pointer;
}
.reg-form input::placeholder {
    color: #BEBEBE;
}
.reg-form input:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    transform: scale(1.1);
}
.reg-form input:hover {
    box-shadow: 0 0 3pt 1pt #D3D3D3;
}
.checkbox {
    padding-bottom: 15px;
}
#cb1 {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
#cb1:checked, #cb1:not(:checked) {
    position: absolute;
    left: -9999px;
}
#cb1:checked + label, #cb1:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
#cb1:checked + label:before,
#cb1:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 2px;
}
#cb1:checked + label:after,
#cb1:not(:checked) + label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    left: 3px;
    top: 4px;
    width: 12px;
    height: 7px;
    border-radius: 1px;
    border-left: 4px solid #3CB878;
    border-bottom: 4px solid #3CB878;
    transform: rotate(-45deg);
}
#cb1:not(:checked) + label:after {
    opacity: 0;
}
#cb1:checked + label:after {
    opacity: 1;
}

#cb1+label a {
    color: #3CB878;
    display: inline-block;
}
.btn-reg {
    background: #3CB878;
    font-size: 16px;
}
input[type="button"] {
    color: white;
    margin-bottom: 30px;
}
