@font-face {
    font-family: "STARWARS";
    src: url("../font/STARWARS.woff2");
    font-weight: bold;
    font-display: swap;
}
body {
    font-family: "STARWARS";
    background: black;
    overflow: hidden;
    position: relative;
}
.container {
    display: flex;
    height: 100%;
    width:75%;
    margin: 0 auto;
    perspective: 450px;
}
.text-go-away {
    color: yellow;
    font-size: 4vw;
    text-align: center;
    position: relative;
    animation: go-away 30s linear infinite;
}
h1,h2 {
    text-align: center;
}

@keyframes go-away {
    0% {
        top:0; transform: translateZ(0) rotateX(20deg);
    }
    100% {
        top: -3000px; transform: translateZ(-1500px) rotateX(21deg);
    }
}