.products {
  &__product-item {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    border: 1px solid;
    border-radius: 20px;

  }
  &__product-item-img {
    max-width: 300px;
    align-self: center;
  }

  &__product-item-price {
    font-weight: bold;
  }

  &__product-item-price,
  &__product-item-color {
    padding: 0 0 0 20px;
    line-height: 2;
    font-style: italic;
  }
  &__product-item-actions {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  &__btn {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
}

.fav-img img {
  width: 30px;
  height: 30px;
  cursor: pointer;

}

