.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("scattered-pile-twitter-icons-background_125322-7.webp");
    gap: 20px;



}
.wrapper>div {
    max-width: 600px;
    border: 1px solid white;
    align-self: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.wrapper>div>button {
    display: block;
    float: right;
}

.body {
    font-style: italic;
    font-size: 20px;
}