@import "reset/reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "components/header";
@import "components/posts";
@import "components/insta";
@import "components/footer";


body {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;

}