
.menu li a {
    color: #FF0000;
}

.button {
    background: #FF0000;

    color: #FFFFFF;
}
.change-theme[data-theme='dark'] {
    display: block;
}
.change-theme[data-theme='light'] {
    display: none;
}