.container {
    font-family: Montserrat;
    background: #2C2C2C;
    color: white;

}

.menu li a {
    color: #d99437;
}

.button {
    background: #ee9a20;
    color: black;
}
.change-theme[data-theme='dark'] {
    display: none;
}
.change-theme[data-theme='light'] {
    display: block;
}