@import "../variables/mixins";
@import "../variables/variables";

.home {
  color: #57A4A4;
}
.header {
  padding: 45px;
  z-index: 12;
  position: relative;

  &__navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;

    input[type='checkbox'],.header__button-burger {
      display: none;
      @media (max-width: 760px) {
        display: block;
      }
    }
    @media (max-width: 760px) {
      display: block;
      height: 37px;
      input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 37px;
        width: 44px;
        top: 48px;
        right: 0px;
        z-index: 5;
        opacity: 0;
      }
      .header__button-burger {
          height: 23px;
          width: 35px;
          position: absolute;
          top: 48px;
          right: 0;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        .line {
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background: #000;
        }
        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out;
        }

        .line2 {
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out;
        }
      }

      input[type="checkbox"]:checked ~ .header__menu-items {
        transform: translateX(0);
      }
      input[type="checkbox"]:checked ~ .header__button-burger .line1 {
        transform: rotate(35deg);
      }

      input[type="checkbox"]:checked ~ .header__button-burger .line2 {
        transform: scaleY(0);
      }
      input[type="checkbox"]:checked ~ .header__button-burger .line3 {
        transform: rotate(-35deg);
      }
    }
  }
  &__menu-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;

    li {
      width: 100%;
      list-style: none;
      display: block;
      @include navbar-menu-items;

      a {
        text-decoration: none;
        color:$title-font-color;
        transition: color 0.3s ease-in-out;

      }

    }
    @media (max-width: 760px) {
      position: absolute;
      right: 0;
      padding-top: 60px;
      background: #F5F5F5;
      height: 208px;
      max-width: 182px;
      transform: translateX(150%);
      display: flex;
      flex-direction: column;
      text-align: left;
      transition: transform 0.5s ease-in-out;
      li {
        margin-bottom: 8px;
        @include navbar-menu-items;
        :focus {
          background: #E5E5E5;
        }
        a {
          padding: 0 30px;
          display: block;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
  }
.intro-img {
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/intro/intro-img-d.png");

  @media (max-width: 768px) {
    height: 362px;
    background-image: url("../img/intro/intro-img-t.png");
  }
  @media (max-width: 320px) {
    height: 150px;
    background-image: url("../img/intro/intro-img-m.png");
  }

}