@import "../variables/mixins";
@import "../variables/variables";

.insta {
  overflow: auto;
  background: url("../img/insta/bg.png");
  background-size: cover;
  width: 100%;

  &__title-wrapper {
    margin-top: 50px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 542px) {
      .insta__insta-page {
        display: none;
      }
    }
  }

  &__insta-title, &__insta-page {
    @include text-title;
    color: $title-font-color;
    @media (max-width: 320px) {
      font-size: 14px;
    }
  }

  &__photo-wrapper {
    //display: grid;
    //grid-template-columns: repeat(4, 1fr);
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

    @media (max-width: 768px) {
      .insta__photo-item {
        &:last-of-type {
          display: none;
        }
      }
    }
    @media (max-width: 320px) {
      margin-bottom: 42px;
      .insta__photo-item {
        display: none;

        &:first-of-type {
          display: inline;
        }
      }
    }
  }

  &__photo-item {
    @include sized-img(285px);

    @media (max-width: 768px) {
      @include sized-img(250px);

    }

    @media (max-width: 320px) {
      @include sized-img(300px);
    }
  }

  #insta-image-1 {
    background-image: url('../img/insta/post-1-1.png');
  }

  #insta-image-2 {
    background-image: url('../img/insta/post-2-1.png');
  }
  #insta-image-3 {
    background-image: url('../img/insta/post-3-1.png');
  }
  #insta-image-4 {
    background-image: url('../img/insta/post-4-1.png');
  }
}