@import "../variables/mixins";
@import "../variables/variables";

.posts {
  &__title {
    margin-top: 38px;
    @include text-title;
    color: $title-font-color;
    margin-bottom: 24px;
    @media (max-width: 320px) {
      font-size: 14px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 25px;
    margin-bottom: 70px;


    @media (max-width: 768px) {
      display: flex;
      align-items: flex-start;
      flex-flow: column nowrap;
      gap: 30px;
      margin-bottom: 60px;
    }

    @media (max-width: 320px) {
      display: flex;
      flex-flow: column nowrap;
      gap: 30px;
      margin-bottom: 78px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: 22px;

    @media (max-width: 320px) {
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  &__mobile {
    @media (max-width: 320px) {
      display: none;    }
  }

  &__item-img {
    @include post-picture-size(160px, 140px);
  }

  &__item-text {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: $post-font-color;

    @media (max-width: 320px) {
      display: none;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $title-font-color;
    @media (max-width: 320px) {
      font-size: 14px;
    }
  }

  &__item-category {
    font-size: 12px;
    line-height: 20px;
    color: $comment-info-color;
    @media (max-width: 320px) {
      font-size: 10px;
    }
  }
}
