@import "../variables/mixins";
@import "../variables/variables";

.footer {
  background: #000000;
  color: #B9B9B9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px 36px;
  text-align: center;
  &__container {
    max-width: 684px;
    @media (max-width: 320px) {
      max-width: 302px;
    }
  }
  &__title {
  @include text-title;
    color: #FEFEFE;
    margin-bottom: 22px;
    @media (max-width: 320px) {
      font-size: 14px;
    }
}
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 38px;
    @media (max-width: 320px) {
      font-size: 12px;
      line-height: 20px;
    }
  }
  &__social-logos {
    margin-bottom: 34px;
    @media (max-width: 320px) {
      margin-bottom: 24px;
    }
  }
  &__contacts {
    font-size: 16px;
    line-height: 26px;
    @media (max-width: 320px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}